nav {
  display: flex;
  justify-content: center;
}

nav a {
  margin: 0 10px;
  padding: 5px;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: .5rem;
}

nav a:not(.active):hover {
  background-color: hsl(0, 0%, 22%);
}

.active {
  background-color: hsl(0, 0%, 10%);
}