.editPost {
  text-align: center;
}

.editPost h2 {
  font-size: 2.2rem;
}

.editPost .previewTitle {
  margin-bottom: 2rem;
  color: greenyellow;
  font-weight: bold;
}

.imagePreview {
  max-width: 100%;
}

.editPost p {
  color: #aaa;
  margin-top: 2rem;
}
