.post_container {
  text-align: center;
}

.post_container h1 {
  margin-bottom: 3rem;
}

.post_container .tags {
  display: flex;
  justify-content: center;
}

.post_container p {
  margin-right: 1rem;
}

.tags span {
  font-weight: bold;
}
