body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, Helvetica, sans-serif;
  padding-bottom: 500px;
}

h1 {
  color: red;
}

.red-title {
  background-color: red;
  color: black;
  font-weight: 900;
}
